.buttonchat {
  width: 120px;
  height: 40px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border: 2px solid #ffffff;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;

  z-index: 200;
}
.buttonchat:hover {
  cursor: pointer;
  background-color: #f69d21;
  color: #212121;
}
.circle {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: green;
}
.chat {
  position: fixed;
  bottom: 5px;
  width: 100%;
  height: 85vh;
  z-index: 200;
  background-color: #212121;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.chatcontainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70vh;
  display: flex;
  padding: 0.5rem;
}
.left {
  width: 25%;
  height: 100%;

  padding: 0.5rem;
  margin: 0.5rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.left h1 {
  color: #ffffff;
}

.right {
  width: 75%;
  height: 100%;
  padding: 0.5rem;

  margin: 0.5rem;
  background-color: #ffffff11;
  border-radius: 10px;
  padding: 1rem;
}
.messages {
  width: 100%;
  height: 80%;
  overflow-y: scroll;
}
.messages p {
  width: fit-content;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 10px;
  color: #ffffff;
}
.mymessage {
  width: 100%;
  height: 20%;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mymessage input {
  width: 85%;
  height: 80%;
  border-radius: 10px;
  background-color: #212121;
  color: #ffffff;
  padding: 0.5rem;
}
.mymessage button {
  width: 10%;
  height: 80%;
  color: #ffffff;
  background-color: #212121;
  border: none;
  border-radius: 10px;
}
.mymessage button:hover {
  background-color: #f69d21;
  color: #212121;
}

.mychatimg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.myMessage {
  text-align: right;
  display: flex;

  flex-direction: column;

  align-items: flex-end;
  /* Otros estilos específicos para tus mensajes */
}
.theirMessage {
  text-align: left;
  display: flex;

  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.chat a {
  color: #f69d21bb;
  text-decoration: underline;
}
