.subscription {
  width: 100vw;
  min-height: 100vh;

  padding-top: 10vh;

  background-color: #232323;
  color: #ffffff;
}
.subscription > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscription h1 {
  margin: 1rem;
}
.subscription button {
  margin: 1rem;
}
.subscriptionSteps {
  list-style-type: none;
  padding: 0;
}

.subscriptionSteps li {
  padding: 5px;
  margin-bottom: 5px;
}

/* subscription.module.css */
.currentStatus {
  color: #232323;
  font-weight: 800;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.completedStatus {
  color: green; /* o el color que elijas para los pasos completados */
}

.defaultStatus {
  color: grey;
}
