.container {
  position: absolute;
  top: 45vh;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--transparent-blue-second);
  width: 90%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
