/* styles/chat.module.css */

.chatContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(70vh); /* Ajusta 64px a la altura real de tu header */
  padding: 16px;
  overflow: hidden;
}

.messagesContainer {
  flex: 1;
  overflow-y: auto;
  padding: 16px;
  background-color: #f0f0f0;
}

.inputContainer {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: #ffffff;
}

.myMessage {
  align-self: flex-end;
  background-color: #e6f7ff;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 8px;
  max-width: 70%;
}

.theirMessage {
  align-self: flex-start;
  background-color: #fafafa;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 8px;
  max-width: 70%;
}

.filesGallery {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
}

.filePreview {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 16px;
}
