.container {
  width: 100%;
  min-height: 100vh;
  background-color: #212121;
  z-index: -10;
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  color: #ffffff;
}
.uploadFiles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #212121f0;
  z-index: 20;
}
.videoArea,
.uploadArea {
  width: 40%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.myVideos {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.gallery {
  position: absolute;
  bottom: 0;
  width: 40%;
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;

  color: #212121;
  overflow-y: scroll;
}
.gallery div {
  width: 200px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  object-fit: contain;
  text-align: center;
  margin: 1rem;
  background-color: #ffffff;
  padding: 0.5rem;
}
.gallery div img {
  width: 90%;
  height: auto;
  object-fit: cover;
  padding: 0.5rem;
}
.gallery div a {
  border: 1px solid #212121;
  padding: 0.2rem 0.5rem;
  margin: 0.5rem;
  border-radius: 10px;
  color: #ffffff;
  background-color: #212121;
}
.gallery div a:hover {
  background-color: #f69d21;
}
.links:hover {
  color: #f69d21;
}
.gallery h1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.video {
  width: 70%;
  height: 60vh;
  margin: 0 3rem;
}
.videoList {
  width: 20%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #ffffff11;
}
.videoList div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.3rem;
  margin: 0.5rem;
  font-weight: 600;
}
.videoList div:hover {
  background-color: #f69d21;
  color: #212121;
  cursor: pointer;
}
.videoArea input,
.uploadArea input {
  width: 400px;
  height: 40px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.videoArea button {
  width: 400px;
  height: 40px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 85vh;
  background-color: #212121f0;
  box-shadow: 1px 1px 5px #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 14;
}

.menuItem {
  width: 200px;
  height: 200px;
  padding: 1rem 0;
  font-size: 1.2rem;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s;
  border: 1px solid #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.menuItem:hover {
  font-size: 1.3rem;
  color: #212121;
  cursor: pointer;
  border-color: #f69d21;
  background-color: #f69d21dd;
}
.closebutton {
  position: absolute;
  top: 20vh;
  right: 1rem;
  border: 1px solid #ffffff;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  color: #ffffff;
  cursor: pointer;
  z-index: 110;
  background-color: rgba(0, 0, 0, 0.9);
  margin-bottom: 1rem;
}
/* Estilos para la etiqueta personalizada */
.customFilePicker {
  width: 200px;
  height: 40px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  background-color: #ffffff;
  color: #212121;
  cursor: pointer;
}

.customFilePicker:hover {
  background-color: #f69d21;
  color: #ffffff;
}

/* Estilos para el botón "Subir Archivo" */
.uploadArea button {
  width: 400px;
  height: 40px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  background-color: #f69d21;
  color: #ffffff;
  cursor: pointer;
}

.uploadArea button:hover {
  background-color: #f57c00;
}
.ocult {
  display: none;
}
.share {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 85vh;
  background-color: #212121;
  z-index: 30;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.share > div {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ffffff33;
  color: #ffffff;
  font-family: "Roboto";
  padding: 1rem;
  border-radius: 5px;
}

.share div:hover {
  background: #1a4bac;
  cursor: pointer;
}

.share div div {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.share div div img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
