.container {
  width: 100%;
  min-height: 100vh;
  background-image: url('../public/background.jpg');
  background-size: cover;
  background-attachment: fixed;
  z-index: -10;
  display: flex;
  flex-direction: column;
}
.uploadFiles {
  position: absolute;
  top: 20vh;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.videoArea {
  margin: 2rem;
}
.gallery {
  width: 100%;
  height: fit-content;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.gallery img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  border: 1px solid black;
}
.video {
  width: 100%;
  border: 1px solid black;
  height: fit-content;
}
