.container {
  width: 100%;
  height: 100vh;
  background-color: #212121;
  z-index: -10;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formLayout {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #ffffff;
}

.initial {
  position: fixed;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  width: 100%;
  height: 85vh;
  font-family: "Roboto";
  font-size: 1.2rem;
  color: #ffffff;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #212121;
  z-index: 20;
}

.initial h3 {
  margin: 1rem;
}

.initial > div {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.initial div > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}
.initial div div .initial div:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.initial:nth-child(6) {
  background-color: #f69d21;
}

.initial div div input,
.initial div div select,
.initial div div textarea {
  background-color: #212121;
  border: 1px solid #ffffff;
  padding: 0.2rem;
  border-radius: 10px;
  color: #ffffff;
}

.initial div div textarea {
  height: 80px;
}

.mybuttons {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.mybutton {
  max-width: 100px;
  height: 60px;
  background-color: #f69d21;
  color: #212121;
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-family: "Roboto";
  font-size: 1.2rem;
  font-weight: 600;
}

.mybutton:hover {
  cursor: pointer;
  background-color: #212121;
  border: 1px solid #f69d21;
  color: #ffffff;
}

.mybuttonmini {
  width: 10px;
  height: 40px;
  background-color: #ffffff;
  color: #212121;
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-family: "Roboto";
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.initial label,
.follow label {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.myforms {
  position: fixed;
  bottom: 0;
  margin-top: 1rem;
  width: 100%;
  height: 85vh;
  z-index: 20;
  overflow-y: scroll;
  background-color: #212121;
}

.share {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 85vh;
  background-color: #212121;
  z-index: 30;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.share > div {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ffffff33;
  color: #ffffff;
  font-family: "Roboto";
  padding: 1rem;
  border-radius: 5px;
}

.share div:hover {
  background: #1a4bac;
  cursor: pointer;
}

.share div div {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.share div div img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.editable {
  margin-top: 20vh;
  border: 1px solid black;
  width: 50%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.editable h2,
.editable ul,
.editable div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.editable li {
  list-style: none;
}

.menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 85vh;
  background-color: #212121f0;
  box-shadow: 1px 1px 5px #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 14;
}

.menuItem {
  width: 200px;
  height: 200px;
  padding: 1rem 0;
  font-size: 1.2rem;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s;
  border: 1px solid #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.menuItem:hover {
  font-size: 1.3rem;
  color: #212121;
  cursor: pointer;
  border-color: #f69d21;
  background-color: #f69d21dd;
}
.closebutton {
  position: absolute;
  top: 5vh;
  right: 1rem;
  border: 1px solid #ffffff;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  color: #ffffff;
  cursor: pointer;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.9);
  margin-bottom: 1rem;
}

.photos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: red;
}

.exercise {
  width: 100%;
  height: 55vh;
  overflow-y: scroll;
}

.exercise div {
  width: 100%;
}
.myddbbitem {
  width: 90%;
}

.myddbbitem tr {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem auto;
  padding: 0.5rem;
}

.myddbbitem tr td,
.myddbbitem tr th {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #ffffff;
}
.myddbbitem thead {
  background-color: #f69d21;
}
.myddbbitem tr td {
  background-color: #ffffff33;
}

.myddbbitem tr td p:hover,
.myddbbitem tr td:hover {
  cursor: pointer;
}
