.container {
  width: 100%;
  min-height: fit-content;
  background-color: #ffffff;
  z-index: -10;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* forms.module.css */

.formLayout {
  padding: 20px;
}

.leftCard {
  padding: 20px;
  background-color: #fff;
}

.rightCard {
  padding: 20px;
  background-color: #fff;
}

.ant-card {
  border-radius: 8px;
}

.ant-card-body {
  padding: 16px;
}

.ant-typography {
  margin-bottom: 16px;
}
