/* formStyles.module.css */

.formContainer {
  width: 100%;
  min-height: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--light-blue);
  border-radius: 10px;
  padding: 1rem;
}

.formContainer form {
  display: flex;
  height: 30%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.formContainer input {
  width: 250px;
  height: 40px;
  margin: 3px;
}

.formContainer button {
  width: 200px;
  height: 30px;
  border: none;
  background-color: var(--dark-blue);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.formContainer button:hover {
  cursor: pointer;
}

.formContainer span {
  font-size: 12px;
  color: red;
  margin-top: 10px;
}
