.chartContainer {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #212121;

  padding: 1rem;
  color: #ffffff;
}
.myGraph {
  width: 90%;
}
