.containerProfile {
  width: 100%;
  min-height: 100vh;
  background-image: url('../public/background.jpg');
  background-size: cover;
  background-attachment: fixed;
  z-index: -10;
}
.myprofile {
  width: 50%;
  min-height: 30vh;
  background-color: var(--transparent-blue-second);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-family: 'Roboto';
  z-index: 0;
}
.myprofileimg {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.myprofileinfo {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.myprofileinfo p:nth-child(1) {
  width: 90%;
  height: 20%;
  text-align: center;
  font-size: 24px;
}
.addText {
  width: 90%;
  height: 80%;
  text-align: center;
  border: 1px solid black;
}
.text {
  height: 80%;
  text-align: center;
}
.text input,
.text div {
  width: 100%;
  height: 100%;
  text-align: center;
}
.text div {
  padding-top: 3rem;
}
.buttons {
  height: 20%;
}
.buttons button {
  width: 100%;
  height: 100%;
}

.layout {
  width: 100%;
  height: auto;
  position: absolute;
  top: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.subdivision {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--transparent-blue-second);
  margin: 3rem;
}
