.container {
  width: 50%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.container h2 {
  margin: 2rem;
}

.container form {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffffff11;
}

.container form div {
  width: 100%;
  justify-content: center;
  display: flex;
}

.container form button {
  width: 40px;
  height: 40px;
  background-color: var(--orange);
  color: #212121;
  border: none;
  border-radius: 50%;
  padding: 0.3rem;
}

.inputContainer input {
  width: 200px;
  height: 40px;
  color: #212121;
  background-color: #212121;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 0.3rem;
}

.inputContainer label {
  width: 180px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 10px;
  text-align: center;
  padding-top: 0.2rem;
}

.inputContainer label:hover {
  background-color: var(--orange);
  color: #212121;
  cursor: pointer;
  border: none;
}



.clientPhotos {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.clientPhotos div button {
  width: 40px;
  height: 40px;
  background-color: var(--orange);
  color: #212121;
  border: none;
  border-radius: 50%;
  padding: 0.3rem;
}

.clientPhotos div button:hover {
  cursor: pointer;
}

.client {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff11;
  margin: 2rem;
  padding: 2rem;
}

.clientImg {
  width: 500px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 600;
}

.clientImg img {
  width: 80%;
  aspect-ratio: 1;
  object-fit: contain;
}

.labels {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.clientImgGroup {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.clientImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

@media screen and (max-width: 767px) {
  .clientImgGroup {
    width: 100%;
    flex-direction: column;
  }

}