.programContainer {
  width: 100%;
  min-height: 100vh;
  font-family: "Roboto";
  font-weight: 400;
  background-color: #212121;
  color: #ffffff;
  z-index: -10;
}
.programlayout {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.nextrevision {
  width: 400px;
  height: 50px;
  border-radius: 15px;
  text-align: center;
  padding: 1rem;
  margin: 3rem;
  background-color: #fdd844;
  color: #212121;
}
.clientProfile {
  margin-top: 3rem;
}
.trainersList {
  margin-top: 3rem;
}
.myprofile {
  width: 10%;
  height: 30vh;
  margin-top: 20vh;
  background-color: #ffffff66;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border-radius: 15px;
  z-index: 0;

  position: relative;
}
.myprofile p {
  text-align: center;
}
.profilesection {
  position: absolute;
  top: 170px;
  left: 140px;
}

.myprofileimg {
  width: 150px;
  height: 150px;
  margin: auto 1rem;
  border-radius: 50%;
  object-fit: cover;
}
.myprofileinfo {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 24px;
}
.datacontainer {
  width: 60%;
  height: 200px;
  margin-top: 20vh;
  background-color: var(--transparent-blue-second);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 15px;
}

.trainersList {
  width: 60%;
  min-height: 50vh;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}
.userdata {
  width: 90%;
  height: 20%;
  display: flex;
  margin: 10px auto;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--my-blue);
  border-radius: 30px;
  font-family: "Roboto";
  color: #000;
}
.userdata > div {
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 16px;
}
.userdata div img {
  width: 70%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
}
.button {
  font-family: "Roboto";
  padding: 0.5rem;
  border-radius: 5px;
  color: #ffffff;
  background-color: var(--dark-blue);
  text-decoration: none;
}
.button:hover {
  transform: scale(1.1);
  color: var(--dark-blue);
  background-color: transparent;
  border: 1px solid var(--dark-blue);
  cursor: pointer;
}
.weekData {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;

  border-radius: 10px;
  background: var(--transparent-blue-second);
  padding: 1rem;
  z-index: 10;
}
.weekfollow {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
}
.weekfollowLeft div,
.weekfollowRight div {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.yellowStatus {
  background-color: yellow;
}

.blueStatus {
  background-color: blue;
}

.greenStatus {
  background-color: green;
}
