/* General Layout */
.site-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Sidebar Styles */
.sidebar {
  background: #3a3a3a;
  color: white;
}

.logo {
  height: 60px;
  font-size: 20px;
  color: white;
  text-align: center;
  line-height: 60px;
  font-weight: bold;
}

/* Header Styles */
.header {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 0 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

/* Dashboard Grid Layout */
.site-layout-background {
  background: #f0f2f5;
  padding: 24px;
}

.dashboardCard {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .dashboardCard {
    margin-bottom: 16px;
  }
}

/* Breadcrumb */
.ant-breadcrumb {
  margin: 16px 0;
}

/* Footer */
.ant-layout-footer {
  text-align: center;
  background: #f0f2f5;
  padding: 24px;
  color: #666;
}

.profileCard {
  max-width: 400px;
  margin: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.trainersGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.dietGallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.reviewsSection {
  padding: 20px;
}

.reviewsSection .ant-list-item {
  background: #f9f9f9;
  margin-bottom: 10px;
  border-radius: 8px;
}
.photoGallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.photoCard {
  max-width: 300px;
}

.photoCarousel {
  text-align: center;
}

.carouselImage {
  width: 100%;
  height: auto;
}

.imageCaption {
  font-size: 14px;
  color: #666;
  margin-top: 5px;
}
.trainerContainer {
  display: flex;
  align-items: center;
  position: relative;
}

.trainerName {
  margin-left: 10px;
}

.changeTrainerButton {
  display: none;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background-color: transparent;
  border: none;
  color: #1890ff;
}

.trainerContainer:hover .trainerName,
.trainerContainer:hover .ant-avatar {
  opacity: 0.2; /* Desvanecer la info del entrenador en hover */
}

.trainerContainer:hover .changeTrainerButton {
  display: inline-block; /* Mostrar botón solo en hover */
}
