.container {
  position: absolute;
  top: 60vh;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  display: flex;
  justify-content: space-evenly;
}
.rate {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--transparent-blue-second);
  margin-bottom: 10px;
}
