.routinesContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.editor {
  width: 100%;
  min-height: 100vh;
  margin-top: 15vh;
  display: flex;
  justify-content: space-around;
}
.left {
  width: 60%;
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
}
.right {
  width: 25%;
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
}
.routine,
.myddbbitem {
  width: 200px;
  height: 200px;
  border: 3px solid #ffffff80;
  border-radius: 10px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #ffffff;
}
.routine:hover,
.myddbbitem:hover {
  font-size: 1.3rem;
  color: #212121;
  cursor: pointer;
  border-color: #f69d21;
  background-color: #f69d21dd;
}
.myddbbitem {
  height: 50px;
}
