.routinesContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #212121;
  color: #ffffff;
}

.editor {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #212121;
  overflow-y: hidden;
  overflow-x: hidden;
}

.top {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
  background-color: #212121;
  overflow-y: hidden;
  overflow-x: hidden;
}

.bottom {
  width: 80%;
  height: fit-content;
  display: flex;
  justify-content: space-around;
}

.myddbb {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.routine {
  width: 33.3333%;
  height: 100%;
  padding: 1rem 0;
  font-size: 1.2rem;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s;
  border: 1px solid #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.routine:hover {
  font-size: 1.3rem;

  cursor: pointer;
  border-color: #f69d21;
  background-color: #f69d2133;
}

.routine p {
  width: 250px;
  height: 40px;

  text-align: center;
  line-height: 40px;

  background-color: #f69d21;
  color: #212121;
  border-radius: 8px;
}
.routine p:hover {
  width: 250px;
  height: 40px;

  text-align: center;

  background-color: #212121;
  color: #ffffff;

  border-radius: 8px;
}

.modalContent {
  margin-top: 20vh;
  width: 150px;
  height: 150px;
  border: 3px solid #ffffff80;
  border-radius: 10px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #ffffff;
  text-align: center;
}

.selectmenu div:hover {
  font-size: 1.3rem;
  color: #212121;
  cursor: pointer;
  border-color: #f69d21;
  background-color: #f69d21dd;
}

.myddbbitem {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #212121;
  padding-top: 10vh;
  z-index: 10;
}

.exercise {
  width: 300px;
  height: 200px;

  border: 1px solid #ffffff;
  border-radius: 8px;
  padding: 1rem;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  margin: 1rem;
}

.exercise div {
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.modal {
  z-index: 10;
  background: #212121;
  width: 100%;
  min-height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow-y: hidden;
  overflow-x: hidden;
}

.exContent {
  position: absolute;
  top: 5vh;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.exContent form,
.dynamic {
  width: 100%;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff11;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.exContent form div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
}

.exContent form div:hover {
  cursor: pointer;
}

.exContent form div p {
  font-size: 1.5rem;
  color: #ffffff;
  width: 100%;

  justify-content: space-between;
}
.exContent form div input {
  width: 60%;
  height: 30px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 1.3rem;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.9);
}

.exContent form div textarea {
  width: 60%;
  height: 90px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 1.3rem;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.9);
}
.exContent form h3 {
  margin: 1rem 0;
}
.exContent form table {
  width: 100%;
}
.exContent form table tr th {
  text-align: center;
  color: #212121;
  width: 25%;
}
.exContent form table tr td {
  text-align: center;
}
.exContent form table tr:nth-child(2n + 1) {
  background-color: #ffffff11;
}
.exContent form table tr:first-child {
  background-color: #f69d21;
}
.tContent {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.tContent form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}

.tContent form div {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
}

.tContent form div:hover {
  cursor: pointer;
}

.tContent form p {
  font-size: 1.5rem;
  color: #ffffff;
  width: 90%;
  justify-content: space-between;
}

.tContent form div input {
  width: 60%;
  height: 30px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 1.3rem;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.9);
}

.tContent form div textarea {
  width: 60%;
  height: 90px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 1.3rem;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.9);
}

.closebutton {
  position: fixed;
  top: 5vh;
  right: 1rem;
  border: 1px solid #ffffff;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  color: #ffffff;
  cursor: pointer;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.9);
  margin-bottom: 1rem;
}

.backbutton {
  position: absolute;
  top: 5vh;
  left: 1rem;
  border: 1px solid #ffffff;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  color: #ffffff;
  cursor: pointer;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.9);
  margin-bottom: 1rem;
}

.create {
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #ffffff;
  border-radius: 10px;
  font-size: 1.3rem;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.9);
}

.create:hover {
  border-color: #f69d21;
}

.add {
  width: 2rem;
  height: 2rem;
  text-align: center;
  border: 1px solid #ffffff;
  border-radius: 10px;
  font-size: 1.3rem;
  color: #ffffff;
  cursor: pointer;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.9);
}

.add:hover {
  border-color: #f69d21;
}

.trainingButton {
  display: flex;
  flex-direction: column;
}

.trainingButton button:hover:first-child {
  background-color: #f69d21;
  color: #212121;
}

.myday {
  width: 1rem;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  margin: 1rem;
}

.myday input {
  width: 3rem !important;
  height: 3rem;
}

.message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  /* opcional para darle un fondo oscuro al resto de la página */
  background: rgb(0, 0, 0, 0.97);
  width: 50%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeout 1.5s 3s forwards;
}

@keyframes underline {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.message:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  background-color: #f69d21;
  animation: underline 3s forwards;
}

.myCurrent {
  position: absolute;
  width: 100%;
  height: 85vh;
  bottom: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  background-color: #212121;
}
.thisTraining {
  width: 100%;
  height: 20vh;
  color: #ffffff;
  padding: 0.5rem;
  margin: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: 1px solid red;
}

.exinfo {
  width: 30%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: #ffffff11;
  border-radius: 10px;
  padding: 0.5rem;
}
.exinfo > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.supersets {
  width: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff11;
  border-radius: 10px;
  padding: 0.5rem;
}
.column {
  display: flex;
  flex-direction: column;
}
.superset {
  width: 50%;
  display: flex;
}
.secondWidth {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 85vh;
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  background-color: #212121;
  z-index: 20;
  overflow-y: scroll;
}

.secondWidth div {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
}

.secondWidth div p {
  font-size: 1.5rem;
  color: #ffffff;
  width: 90%;
  justify-content: space-between;
}
.secondWidth div input {
  width: 60%;
  height: 30px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 1.3rem;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.9);
}
.secondWidth div textarea {
  width: 60%;
  height: 90px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 1.3rem;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.9);
}
.closebuttontwo {
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: 1rem;
  right: 1rem;
  border: 1px solid #212121;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  color: #212121;
  cursor: pointer;
  z-index: 20;
  background-color: rgba(255, 255, 255, 0.9);
}
.dynamic {
  z-index: 20;
}
.dynamic > div {
  display: flex;
  flex-direction: column;
}
.share {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 85vh;
  background-color: #212121;
  z-index: 30;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.share > div {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ffffff33;
  color: #ffffff;
  font-family: "Roboto";
  padding: 1rem;
  border-radius: 5px;
}

.share div:hover {
  background: #ffffff44;
  cursor: pointer;
}

.share div div {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.share div div img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.addtrainings {
  width: 30%;
  height: 20vh;
  border: 1px solid #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.trainsteps {
  width: 100%;
  height: 10vh;
  display: flex;
}
.trainsteps > div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.trainsteps > div p,
.marginauto {
  margin: auto;
}
.exddbb {
  border: 1px solid red;
}

.next,
.prev {
  height: 100%;
  width: 20%;
  text-align: center;
}

.mydinamic {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #ffffff;
  padding: 0.5rem;
  border-radius: 10px;
}
.exform {
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 1rem;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  background-color: #212121;
  z-index: 30;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}
.addexercisebutton {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 200px;
  background-color: #f69d21;
  color: #212121;
  font-weight: 600;
  border-radius: 10px;
  margin-top: 1rem;
  padding: 0.5rem;
}
@media screen and (max-width: 767px) {
  .editor {
    width: 100%;
    height: 85vh;
  }

  .top {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
  }

  .routine {
    width: 200px;
    height: 200px;
    margin: 1rem;
  }

  .selectmenu {
    flex-direction: row;
  }

  .exContent form > div {
    width: 100%;
  }

  .message {
    width: 100%;
  }
}
