.container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 15vh;
  box-shadow: 1px 1px 5px #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}
.logo {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translate(-50%);
}
.menuButton {
  position: absolute;
  left: 15px;
  top: 15px;
  z-index: 15;
  background: none;
  border: none;
  cursor: pointer;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  background-color: #afbbd3;

  box-shadow: 1px 1px 5px #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  z-index: 14;
  padding: 2rem;
}

.menuItem {
  padding: 1rem 0;
  font-size: 1.2rem;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s;
}

.menuItem:hover {
  font-size: 1.3rem;
  color: var(--dark-blue);
  cursor: pointer;
}
