.myRoutine {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.routine {
  border: 1px solid #ffffff;
  width: 90%;
  margin: 1rem auto;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 2rem;

  border-radius: 10px;
}
.routine > div {
  display: flex;
  width: 100%;

  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
.routine > div > div > p {
  width: 100%;
  height: 2rem;
}
.routine div p {
  display: flex;
  justify-content: space-between;
}

.exer {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}
.exer div {
  border: 1px solid black;
  width: 100%;
}
